* {
    font-family: 'Roboto', 'Arial';
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

header {
    position: fixed;
    size: 100%;
    width: 100%;
    height: 100px;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

body {
    flex-direction: row;
    position: relative;
    width: 1920px;
    justify-content: space-around;
    background-color: #E5E5E5;
    
}

.Envios {
   
   width: 490px;
   height: 350px;
   left: 19px;
   top: 135px; 
   background-image: url('img/delivery.jpg');
}

.lista {
    
    width: 490px;
    height: 350px;
    left: 514px;
    top: 135px;
    background-color: white;
}

.navbar div {
    align-content: flex-end;
}

ol {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.txt {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.rojo {
    color: red;
}

.blanco {
    color: white;
}

footer {
    position: relative;
    align-self: flex-end;
    background-color: black;
    height: 150px;
    color: white;
}